@page "/cost-center-list"

<h3>CostCenterList</h3>
<div>
    <table>
        <thead>
            <tr>
                item_1
            </tr>
            <tr>
                item_2
            </tr>
        </thead>
    </table>
</div>
<MudPaper Class="pa-4 blue darken-1 shades-text text-white">
    Add
</MudPaper>

@code {

}
