@page "/"
@using BlazorApp1.Components


<PageTitle>Dash Board</PageTitle>
<div>
    Hello Hilary, welcome back!
</div>
<div style="align-items:end">
    <MatButton Outlined="true">EMS</MatButton>
    <MatButton Outlined="true">CRM</MatButton>
    <MatButton Outlined="true">INVENTORY</MatButton>
    <form>
        
        <select>
            <option value="BMW">
                BMW
            </option>
            <option value="Mercedes">
                Mercedes
            </option>
            <option value="Audi">
                Audi
            </option>
            <option value="Skoda">
                Skoda
            </option>
        </select>
    </form>


</div>

