@page "/"

<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col-md-9 col-lg-6 col-xl-5">
            <div style="text-align:center"><br /><br />
            <h1>DCS INFOWAY</h1>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image"><br />
                    
            </div><br />
          </div>     
     </div>
</div><br /><br />
    <marquee behavior="alternate"><h1><b>Welcome to our software.</b></h1></marquee>


